body{
	margin: 0;
	background: url( bg5.png );
	color: white;
}

#main-info
{
	padding: 10px;
    text-align: center;
    background: url(header_background.png);
    font-size: 20px;
    color: black;
}

#main-info h2
{
	margin-bottom: 0;
}

#main-info h3
{
	margin-top: 3px;
}

.semester{
	border: 1px solid;
    padding: 13px 37px;
    margin: 20px auto;
    background-color: #FFCA2D;
    color: black;
    width: 68%;
}

.semester-title{
	margin-bottom: 5px;
}
.semester-type{
	margin-top: 0;
}

.lesson-type{
	margin-bottom: 5px;
}

.lesson-hours{
	margin-top: 0;
}

.lesson a{
	text-decoration: none;
}

.lesson li{
	margin: 0;
}
